html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  color: #222;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
